/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.jumbotron {
  background-image: url("../img/greenhouse6.jpg");
  background-size: cover;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  margin-bottom: 0px;
}

.breadcrumb {
  margin: 15px;
}

/* Index page */
.index_list {
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.padding4left {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0; !important;
  padding-right: 2px; !important;
}

.padding4right {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 2px; !important;
  padding-right: 0; !important;
}

/* Catalog page */
.padding_side_zero {
  padding-right: 0px;
  padding-left: 0px;
}

/* Index page */
.margin_side_zero {
  margin-right: 0px;
  margin-left: 0px;
}

/* Colors */
.icon-success {
    color: #5CB85C;
}

.price_color {
    color: #5cb85c;
    font-weight: bold;
}

.new_price_color {
    color: #e72b2b;
    font-weight: bold;
}

.prev_price_color {
    color: #7f7f7f;
    font-weight: bold;
}


.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #5cb85c;
}

.green-tooltip + .tooltip > .tooltip-arrow {
    border-top-color: #5cb85c;
}

.phone-numbers {
  padding-top: 7px;
  padding-right: 10px;
  color: #5cb85c;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-brand > img {
  padding-top: 5px;
  padding-left: 15px;
  width: auto;
}

.navbar-brand {
  padding: 0px;
  height: 86px;
}

#navbar3 > .navbar-collapse {
  padding-right: 15px;
}

#navbar3 > ul {
  padding-top: 46px;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 5px;
}

.navbar-toggle {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 25px 15px 25px 0;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: gray;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  max-height: 500px;
  margin-bottom: 28px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  max-height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  max-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: none;
}

/* Carousel product images config*/

.frame {
  background-color: white;
  height: 500px;      /* equals max image height */
  width: 100%;
  white-space: nowrap;
  text-align: center;;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.frame > img {
  vertical-align: middle;
  max-height: 500px;
  max-width: 100%;
}

#image_list_navi {
  background-image: none;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Outline buttons */

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* end of outline buttons */