{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block seo_description %}{{ product.name }} - {{ block.super }}{% endblock %}
{% block seo_keywords %}{{ product.name|lower}}, {{ block.super }}{% endblock %}
{% block header_title %}{{ block.super }} - {{ product.name }}{% endblock %}

{% block extra_js %}
    <script type='text/javascript'>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная страница</a></li>
        <li><a href="{% url 'list' %}">Каталог товаров</a></li>
        <li><a href="{% url 'product_list' product.product_type.model %}">{{ product.product_type }}</a></li>
        <li class="active">{{ product.name }}</li>
    </ol>
    <div class="col-sm-8 col-sm-offset-2">
        <h2>{{ product.name }}</h2>
        <div id="images_list" class="carousel">

            <ol class="carousel-indicators">
                {% for img in product.images.all %}
                <li class="box-shadow--2dp" data-target="#images_list" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner thumbnail" role="listbox">
            {% for img in product.images.all %}
                {% if forloop.first %}<div class="item active">{% else %}<div class="item">{% endif %}
                    <div class=frame>
                        <span class="helper"></span><img src="{{ img.image.url }}">
                    </div>
                </div>
            {% endfor %}
            </div>

            <a id="image_list_navi" class="left carousel-control" href="#images_list" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a id="image_list_navi" class="right carousel-control" href="#images_list" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        </div>

        {% if product.is_discount %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <img height="32" src="{% static 'img/sale4.png' %}"> Товар продаётся по акции: <strong>скидка действует только при полной оплате</strong>.
                </div>
            </div>
        {% endif %}
        {% if product.is_instalment %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <img height="32" src="{% static 'img/instalment.png' %}"> Товар можно купить в рассрочку: <a>узнайте подробнее об условиях рассрочки</a>.
                </div>
            </div>
        {% endif %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3"><a href="{{ product.get_order_url }}" class="btn btn-sm btn-success btn-block" role="button">Заказать</a></div>
            </div>
        </div>

        <h4>Цена</h4>
        <p>
        {% if product.is_discount %}
            {% if product.prev_price %}
                <del class="prev_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ product.get_discount_size|floatformat:"0"|intcomma }} руб.">{{ product.prev_price|floatformat:"0"|intcomma }}</del>
                <span class="new_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ product.get_discount_size|floatformat:"0"|intcomma }} руб.">
            {% else %}
                <span class="new_price_color">
            {% endif %}
        {% else %}
            <span class="price_color">
        {% endif %}
        {{ product.price|floatformat:"0"|intcomma }}</span> руб.</p>
        {% if product.price >= 1000000 %}
        Данный товар можно купить в рассрочку от 3 до 12-ти месяцев.
        <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Подробнее
        </a>
        <div class="collapse" id="collapseExample">
            <div class="well">
                <table class="table table-hover table-condensed">
                    <thead>
                        <th>Срок</th>
                        <th>Сумма</th>
                        <th>Общее количество платежей</th>
                    </thead>
                    <tr>
                        <td>3 месяца</td>
                        <td>{{ product.get_instalment_payment_3m|floatformat:"0"|intcomma }} руб.</td>
                        <td>3 платежа</td>
                    </tr>
                    <tr>
                        <td>4 месяца</td>
                        <td>{{ product.get_instalment_payment_4m|floatformat:"0"|intcomma }} руб.</td>
                        <td>4 платежа</td>
                    </tr>
                    <tr>
                        <td>5 месяцев</td>
                        <td>{{ product.get_instalment_payment_5m|floatformat:"0"|intcomma }} руб.</td>
                        <td>5 платежей</td>
                    </tr>
                    <tr>
                        <td>6 месяцев</td>
                        <td>{{ product.get_instalment_payment_6m|floatformat:"0"|intcomma }} руб.</td>
                        <td>6 платежей</td>
                    </tr>
                    <tr>
                        <td>12 месяцев</td>
                        <td>{{ product.get_instalment_payment_12m|floatformat:"0"|intcomma }} руб.</td>
                        <td>12 платежей</td>
                    </tr>
                </table>
                Условия рассрочки:
                <ul>
                    <li>Возраст - от 21 до 63 лет</li>
                    <li>Справка о доходах  - за 3 последних месяца</li>
                    <li>Досрочное погашение - возможно</li>
                    <li>Оплата - в любом отделении РУП Белпочта</li>
                </ul>
            </div>
        </div>
        {% endif %}

        <h4>Описание</h4>
        {{ product.description|safe }}

        {% block product_characteristic %}
        <h4>Характеристики</h4>
        {% endblock %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3"><a href="{{ product.get_order_url }}" class="btn btn-sm btn-success btn-block" role="button">Заказать</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
