{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="{% block seo_description %}Теплицы и парники от интернет-магазина Мокус с доставкой и установкой в Беларуси{% endblock %}">
		<meta name="keywords" content="{% block seo_keywords %}теплица, парник, теплицы, парники, купить теплицу, купить парник, теплица из поликабоната, парник из поликабоната, с установкой, с доставкой, беларусь, минск{% endblock %}">
        <meta name="author" content="Интернет-магазин Мокус">
        <meta name='yandex-verification' content='58955dbb2bcf6b1a' />
        <meta name="google-site-verification" content="meycywXFNRFeyiRpsm5hFhXa_Sb5WUV7V5qa_rTpykg" />
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
        <title>{% block header_title %}Купить детские товары с доставкой и установкой в Беларуси | Интернет-магазин Мокус{% endblock %}</title>

        {% include 'inc_head_css.html' %}
        {% block extra_css %}{% endblock %}
    </head>
    <body>

    {% include 'inc_navbar.html' %}

    {% include 'inc_carousel.html' %}

        <div class="container marketing">

            {% block content %}
            {% endblock %}

          <hr class="featurette-divider">

          <footer>
              <div class="row">
                  <div class="col-mg-5">
                    &copy; 2016 Интернет-магазин Мокус
                  </div>
                  <div class="col-mg-5 pull-right">
                    Интернет-магазин зарегистрирован в Торговом реестре 16.02.2016​г.<br>
                    Владелец: ИП Леденёв Сергей Алексеевич<br>
                    УНП 191345488<br>
                    220116, г. Минск, пр. газ. Звязда, 9-19<br>
                  </div>
              </div>
              {# <p class="pull-right"><a href="#">К началу</a></p> #}
              {% include 'inc_footer.html' %}
          </footer>

        </div>

    {% include 'inc_javascripts.html' %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
