{% extends "base.html" %}

{% block seo_description %}{{ content.title }} - {{ block.super }}{% endblock %}
{% block header_title %}{{ block.super }} - {{ content.title }}{% endblock %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная страница</a></li>
        <li class="active">{{ content.title }}</li>
    </ol>
    <div class="col-lg-12">
        <h2>{{ content.title }}</h2>
        {{ content.content|safe }}
    </div>
</div>
{% endblock %}