{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/site_logo_transparent.png' %}" alt="Logo mokus.by">
        </a>
        </div>
        <div id="navbar3" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {#<li><a href="{% url 'product' 'list' %}"><b>Каталог товаров</b></a></li> #}
                <li><a href="{% url 'product_list' 'scooter'%}"><b>Каталог товаров</b></a></li>
                <li><a href="{% url 'content' 'delivery' %}"><b>Доставка</b></a></li>
                <li><a href="{% url 'content' 'contacts' %}"><b>Контакты</b></a></li>
                <li><a href="{% url 'content' 'about' %}"><b>О компании</b></a></li>
            </ul>
            <div class="navbar-collapse collapse navbar-right">
                <div class="phone-numbers text-right">
                    <br>
                </div>
                <div class="phone-numbers text-right">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    <span class="sr-only">+375 (44) 555-51-70</span>
                    <b>+375 (44) 555-51-70</b>
                </div>
                <div class="phone-numbers text-right">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span class="sr-only">Ваш заказ принят</span>
                    <b>Ежедневно 9:00 - 19:00</b>
                </div>
            </div>
        </div>
    </div>
</nav>
