{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block extra_js %}
    <script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
    <script type='text/javascript'>
        $(function() {
            $('.item').matchHeight({
                byRow: true,
                property: 'height',
                target: null,
                remove: false
            });
        });

        $('[data-toggle="tooltip"]').tooltip();
    </script>

{% endblock %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li class="active">Главная страница</li>
    </ol>
    {%  for obj in list2 %}
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="item">
                {% if obj.is_discount %}<img style="position: absolute; right: -10px; top: 50px; z-index: 100;" src="{% static 'img/sale4.png' %}">{% endif %}
                <a class="text-center" href="{{ obj.get_absolute_url }}"><h4>{{ obj.name }}</h4></a>
                <img class="img-responsive img-rounded" src="{{ obj.images.all.0.image.url }}" alt="{{ obj.name }}">
                <div class="caption">
                    <p>{{ obj.short_desc|safe }}</p>
                </div>
            </div>
            <div class="caption">
                <p>Цена:
                    {% if obj.is_discount %}
                        {% if obj.prev_price %}
                            <del class="prev_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ obj.get_discount_size|floatformat:"0"|intcomma }} руб.">{{ obj.prev_price|floatformat:"0"|intcomma }}</del>
                            <span class="new_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ obj.get_discount_size|floatformat:"0"|intcomma }} руб.">
                        {% else %}
                            <span class="new_price_color">
                        {% endif %}
                    {% else %}
                        <span class="price_color">
                    {% endif %}
                    {{ obj.price|floatformat:"0"|intcomma }}</span> руб.</p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 padding4left"><a href="{{ obj.get_order_url }}" class="btn btn-sm btn-success btn-block btn-outline" role="button">Заказать</a></div>
                    <div class="col-xs-6 padding4right"><a href="{{ obj.get_absolute_url }}" class="btn btn-sm btn-info btn-block btn-outline" role="button">Подробнее</a></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row margin_side_zero">
    <div class="panel panel-default">
      <div class="panel-body">
          <strong>Каталог: </strong>
          <a href="{% url 'product_list' 'greenhouse'%}">Все теплицы</a>;
          <strong>Длина: </strong>
          <a href="{% url 'product_list_filter' 'greenhouse' 'length' '4 м'%}">4 метра</a>,
          <a href="{% url 'product_list_filter' 'greenhouse' 'length' '6 м' %}">6 метров</a>,
          <a href="{% url 'product_list_filter' 'greenhouse' 'length' '8 м' %}">8 метров</a>,
          <a href="{% url 'product_list_filter' 'greenhouse' 'length' '10 м' %}">10 метров</a>;
          <strong>Сечение профиля: </strong>
          <a href="{% url 'product_list_filter' 'greenhouse' 'pipe_section' '20 x 20 мм' %}">20 x 20 мм</a>,
          <a href="{% url 'product_list_filter' 'greenhouse' 'pipe_section' '40 x 20 мм' %}">40 x 20 мм</a>;
          <strong>Расстояние между дугами: </strong>
          <a href="{% url 'product_list_filter' 'greenhouse' 'pipe_step' '1 м' %}">1 м</a>,
          <a href="{% url 'product_list_filter' 'greenhouse' 'pipe_step' '0,67 м' %}">0,67 м</a>;
      </div>
    </div>
</div>
{% comment %}
<div class="row">
    {%  for obj in list2 %}
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="item">
                {% if obj.is_discount %}<img style="position: absolute; right: -10px; top: 50px; z-index: 100;" src="{% static 'img/sale4.png' %}">{% endif %}
                <img class="img-responsive img-rounded" src="{{ obj.images.all.0.image.url }}" alt="{{ obj.name }}">
                <div class="caption">
                    <p>{{ obj.short_desc|safe }}</p>
                </div>
            </div>
            <div class="caption">
                <p>Цена:
                    {% if obj.is_discount %}
                        {% if obj.prev_price %}
                            <del class="prev_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ obj.get_discount_size|floatformat:"0"|intcomma }} руб.">{{ obj.prev_price|floatformat:"0"|intcomma }}</del>
                            <span class="new_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ obj.get_discount_size|floatformat:"0"|intcomma }} руб.">
                        {% else %}
                            <span class="new_price_color">
                        {% endif %}
                    {% else %}
                        <span class="price_color">
                    {% endif %}
                    {{ obj.price|floatformat:"0"|intcomma }}</span> руб.</p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 padding4left"><a href="{{ obj.get_order_url }}" class="btn btn-sm btn-success btn-block btn-outline" role="button">Заказать</a></div>
                    <div class="col-xs-6 padding4right"><a href="{{ obj.get_absolute_url }}" class="btn btn-sm btn-info btn-block btn-outline" role="button">Подробнее</a></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row margin_side_zero">
    <div class="panel panel-default">
      <div class="panel-body">
          <strong>Каталог: </strong>
          <a href="{% url 'product_list' 'polycarbonate'%}">Весь поликарбонат</a>;
          <strong>Толщина: </strong>
          <a href="{% url 'product_list_filter' 'polycarbonate' 'thickness' '3,5 мм'%}">3,5 мм</a>,
          <a href="{% url 'product_list_filter' 'polycarbonate' 'thickness' '4 мм' %}">4 мм</a>,
          <a href="{% url 'product_list_filter' 'polycarbonate' 'thickness' '6 мм' %}">6 мм</a>,
          <a href="{% url 'product_list_filter' 'polycarbonate' 'thickness' '8 мм' %}">8 мм</a>,
          <a href="{% url 'product_list_filter' 'polycarbonate' 'thickness' '10 мм' %}">10 мм</a>;
          <strong>Цвет: </strong>
          <a href="{% url 'product_list_filter' 'polycarbonate' 'color' 'цветной' %}">Цветной</a>,
          <a href="{% url 'product_list_filter' 'polycarbonate' 'color' 'прозрачный' %}">Прозрачный</a>;
      </div>
    </div>
</div>
<div class="row">
    {%  for obj in list3 %}
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="item">
                {% if obj.is_discount %}<img style="position: absolute; right: -10px; top: 50px; z-index: 100;" src="{% static 'img/sale4.png' %}">{% endif %}
                <a class="text-center" href="{{ obj.get_absolute_url }}"><h4>{{ obj.name }}</h4></a>
                <img class="img-responsive img-rounded" src="{{ obj.images.all.0.image.url }}" alt="{{ obj.name }}">
                <div class="caption">
                    <p>{{ obj.short_desc|safe }}</p>
                </div>
            </div>
            <div class="caption">
                <p>Цена:
                    {% if obj.is_discount %}
                        {% if obj.prev_price %}
                            <del class="prev_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ obj.get_discount_size|floatformat:"0"|intcomma }} руб.">{{ obj.prev_price|floatformat:"0"|intcomma }}</del>
                            <span class="new_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ obj.get_discount_size|floatformat:"0"|intcomma }} руб.">
                        {% else %}
                            <span class="new_price_color">
                        {% endif %}
                    {% else %}
                        <span class="price_color">
                    {% endif %}
                    {{ obj.price|floatformat:"0"|intcomma }}</span> руб.</p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 padding4left"><a href="{{ obj.get_order_url }}" class="btn btn-sm btn-success btn-block btn-outline" role="button">Заказать</a></div>
                    <div class="col-xs-6 padding4right"><a href="{{ obj.get_absolute_url }}" class="btn btn-sm btn-info btn-block btn-outline" role="button">Подробнее</a></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row margin_side_zero">
    <div class="panel panel-default">
      <div class="panel-body">
          <strong>Каталог: </strong>
          <a href="{% url 'product_list' 'pool'%}">Все бассейны</a>;
          <strong>Конструкция: </strong>
          <a href="{% url 'product_list_filter' 'pool' 'construction' 'надувной' %}">Надувные</a>,
          <a href="{% url 'product_list_filter' 'pool' 'construction' 'каркасный' %}">Каркасные</a>,
          <a href="{% url 'product_list_filter' 'pool' 'construction' 'каркасно-надувной' %}">Каркасно-надувные</a>;
          {# <a href="{% url 'product_list_filter' 'pool' 'construction' 'композитный' %}">Композитные</a>; #}
          <strong>Назначение: </strong>
          <a href="{% url 'product_list_filter' 'pool' 'purpose' 'детский' %}">Детские</a>,
          <a href="{% url 'product_list_filter' 'pool' 'purpose' 'семейный' %}">Семейные</a>;
          {# <a href="{% url 'product_list_filter' 'pool' 'purpose' 'частный' %}">Частные</a>; #}
          <strong>Форма: </strong>
          <a href="{% url 'product_list_filter' 'pool' 'shape' 'круглая' %}">Круглые</a>,
          <a href="{% url 'product_list_filter' 'pool' 'shape' 'овальная' %}">Овальные</a>,
          <a href="{% url 'product_list_filter' 'pool' 'shape' 'прямоугольная' %}">Прямоугольные</a>;
      </div>
    </div>
</div>
{% endcomment %}
{% endblock %}