{% extends "base.html" %}

{% block header_title %}{{ block.super }} - Оформление заказа - Что-то пошло не так{% endblock %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная страница</a></li>
        <li class="active">Оформление заказа</li>
    </ol>
    <div class="col-sm-6 col-sm-offset-3">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Ошибка</span>
            <b>К сожание что-то пошло не так:</b> пожалуйста свяжитесь с нашим отделом продаж по телефону указанному в верхней части страницы.
        </div>
    </div>
</div>
{% endblock %}


