{% extends "base.html" %}

{% block header_title %}{{ block.super }} - Оформление заказа - Ваш заказ принят{% endblock %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная страница</a></li>
        <li class="active">Оформление заказа</li>
    </ol>
    <div class="col-sm-6 col-sm-offset-3">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Ваш заказ принят</span>
            <b>Спасибо, Ваш заказ принят:</b> наши специалисты свяжутся с вами по указанному телефону течение 15 минут для подтвеждения заказа и уточнения деталей.
        </div>
    </div>
</div>
{% endblock %}

