{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% crispy orderform orderform.helper %}

{% block seo_description %}Оформление заказа - {{ product.name }} - {{ block.super }}{% endblock %}
{% block seo_keywords %}{{ product.name|lower}}, заказ, {{ block.super }}{% endblock %}
{% block header_title %}{{ block.super }} - Оформление заказа - {{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная страница</a></li>
        <li class="active">Оформление заказа</li>
    </ol>
    {# <div class="col-sm-8 col-sm-offset-2">  #}
    <div class="col-md-6 col-md-offset-3">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <p class="lead">Добро пожаловать в форму оформления заказа</p>
                    <label>Вы выбрали:</label>
                    <div>
                        <div class="col-xs-5 thumbnail">
                            <img class="img-responsive img-rounded" src="{{ product.images.all.0.image.url }}" alt="Generic placeholder image">
                        </div>
                        <div class="col-xs-7">
                            <p><strong>{{ product.name }}</strong></p>
                            {{ product.short_desc|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <a href="{{ product.get_absolute_url }}" class="btn btn-sm btn-info btn-block" role="button">Подробнее</a>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Цена при полной оплате:</label>
            <p>
            {% if product.is_discount %}
                {% if product.prev_price %}
                    <del class="prev_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ product.get_discount_size|floatformat:"0"|intcomma }} руб.">{{ product.prev_price|floatformat:"0"|intcomma }}</del>
                    <span class="new_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ product.get_discount_size|floatformat:"0"|intcomma }} руб.">
                {% else %}
                    <span class="new_price_color">
                {% endif %}
            {% else %}
                <span class="price_color">
            {% endif %}
            {{ product.price|floatformat:"0"|intcomma }}</span> руб.</p>
        </div>
        <div class="form-group">
            <label>Цена при покупке в рассрочку:</label>
            <div class="well">
                <table class="table table-hover table-condensed">
                    <thead>
                        <th>Срок</th>
                        <th>Сумма</th>
                        <th>Общее количество платежей</th>
                    </thead>
                    <tr>
                        <td>3 месяца</td>
                        <td>{{ product.get_instalment_payment_3m|floatformat:"0"|intcomma }} руб.</td>
                        <td>3 платежа</td>
                    </tr>
                    <tr>
                        <td>4 месяца</td>
                        <td>{{ product.get_instalment_payment_4m|floatformat:"0"|intcomma }} руб.</td>
                        <td>4 платежа</td>
                    </tr>
                    <tr>
                        <td>5 месяцев</td>
                        <td>{{ product.get_instalment_payment_5m|floatformat:"0"|intcomma }} руб.</td>
                        <td>5 платежей</td>
                    </tr>
                    <tr>
                        <td>6 месяцев</td>
                        <td>{{ product.get_instalment_payment_6m|floatformat:"0"|intcomma }} руб.</td>
                        <td>6 платежей</td>
                    </tr>
                    <tr>
                        <td>12 месяцев</td>
                        <td>{{ product.get_instalment_payment_12m|floatformat:"0"|intcomma }} руб.</td>
                        <td>12 платежей</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label>Доставка:</label> бесплатно
        </div>
        <div class="form-group">
            <label>Установка:</label> пожалуйста, уточняйте у менеджеров
        </div>
        <div class="form-group">
            <p>Пожалуйста, заполните форму с данными ниже и наши специалисты свяжутся с вами по указанному телефону течение 15 минут для подтверждения заказа и уточнения деталей.</p>
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}
