{% extends "base_product.html" %}

{% block product_characteristic %}
{{ block.super }}
<table class="table table-condensed table-striped">
    <colgroup><col class=col-xs-2><col class=col-xs-6></colgroup>
    <tr><th class="text-center" colspan="2">Основные</th></tr>
    <tr><th class="text-right">Максимальный вес катающегося</th><td>{{ product.max_weight }}</td></tr>
    <tr><th class="text-right">Количество колес</th><td>{{ product.wheel_count }}</td></tr>
    <tr><th class="text-right">Материал платформы</th><td>{{ product.platform_material }}</td></tr>
    <tr><th class="text-right">Сидение</th><td>{% if product.is_seat %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Светодиодные колеса</th><td>{% if product.is_diod %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    
 
    
    
{% endblock %}
