{% extends "base_product.html" %}

{% block product_characteristic %}
{{ block.super }}
<table class="table table-condensed table-striped">
    <colgroup><col class=col-xs-2><col class=col-xs-6></colgroup>
    <tr><th class="text-center" colspan="2">Основные</th></tr>
    <tr><th class="text-right">Конструкция</th><td>{{ product.construction }}</td></tr>
    <tr><th class="text-right">Джакузи</th><td>{% if product.jacuzzi %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Форма</th><td>{{ product.shape }}</td></tr>
    <tr><th class="text-right">Объём</th><td>{{ product.capacity }}</td></tr>
    <tr><th class="text-right">Назначение</th><td>{{ product.purpose }}</td></tr>
    <tr><th class="text-right">Возраст детей</th><td>{{ product.children }}</td></tr>

    <tr><th class="text-center" colspan="2">Конструкция и габариты</th></tr>
    <tr><th class="text-right">Длина</th><td>{{ product.length }}</td></tr>
    <tr><th class="text-right">Высота</th><td>{{ product.height }}</td></tr>
    {% if product.weight %}<tr><th class="text-right">Вес</th><td>{{ product.weight }}</td></tr>{% endif %}
    <tr><th class="text-right">Прозрачные стенки</th><td>{% if product.transparent %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Сливной клапан</th><td>{% if product.out_valve %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    {% if product.install_time %}<tr><th class="text-right">Время установки</th><td>{{ product.install_time }}</td></tr>{% endif %}

    <tr><th class="text-center" colspan="2">Комплектация</th></tr>
    <tr><th class="text-right">Фильтр-насос</th><td>
        {% if product.waterpump_exists %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}
        {{ product.waterpump }}
    </td></tr>
    {% if product.waterpump_type %}<tr><th class="text-right">Тип фильтр-насоса</th><td>{{ product.waterpump_type }}</td></tr>{% endif %}
    <tr><th class="text-right">Распылитель (фонтан)</th><td>{% if product.fountain %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Генератор пузырьков</th><td>{% if product.bubble_generator %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Скиммер (устройство сбора мусора)</th><td>{% if product.skimmer %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Комплект для чистки бассейна</th><td>{% if product.cleaning_tools %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Подстилка</th><td>{% if product.litter %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Тент-чехол</th><td>{% if product.case %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
    <tr><th class="text-right">Лестница</th><td>
        {% if product.hatchs_exist %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}
        {{ product.hatchs }}
    </td></tr>
    <tr><th class="text-right">Сетка для волейбола</th><td>{% if product.net %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td></tr>
</table>
{% endblock %}
