{% extends "base_product.html" %}

{% block product_characteristic %}
{{ block.super }}
<table class="table table-condensed table-striped">
    <colgroup><col class=col-xs-2><col class=col-xs-6></colgroup>
    <tr><th class="text-center" colspan="2">Основные</th></tr>
    <tr><th class="text-right">Тип</th><td>{{ product.greenhouse_type }}</td></tr>
    <tr><th class="text-right">Форма</th><td>{{ product.shape_type }}</td></tr>
    <tr><th class="text-right">Каркас</th><td>{{ product.frame_type }}</td></tr>
    <tr><th class="text-right">Покрытие</th><td>{{ product.covering_type }}</td></tr>
    <tr><th class="text-right">Снеговая нагрузка</th><td>{{ product.snowload }}</td></tr>

    <tr><th class="text-center" colspan="2">Дополнительные</th></tr>
    <tr><th class="text-right">Двери</th><td>
        {% if product.doors_exist %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}
        {{ product.doors }}
    </td></tr>
    <tr><th class="text-right">Форточки</th><td>
        {% if product.windows_exist %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}
        {{ product.windows }}
    </td></tr>
    <tr><th class="text-right">Подъемные части крыши (люки)</th><td>
        {% if product.hatchs_exist %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}
        {{ product.hatchs }}
    </td></tr>
    <tr><th class="text-right">Сечение профиля (трубы)</th><td>{{ product.pipe_section }}</td></tr>
    <tr><th class="text-right">Толщина профиля (трубы)</th><td>{{ product.pipe_gage }}</td></tr>
    <tr><th class="text-right">Крепление поликарбоната</th><td>{{ product.covering_mount_type }}</td></tr>
    <tr><th class="text-right">Грунтозацепы</th><td>
        {% if product.lug_exist %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}
        {{ product.lug }}
    </td></tr>
    <tr><th class="text-right">Усилители дуг</th><td>
        {% if product.framework_impr_exist %}<span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
        {% else %}<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}
        {{ product.framework_impr }}
    </td></tr>

    <tr><th class="text-center" colspan="2">Размеры</th></tr>
    {% if product.length %}<tr><th class="text-right">Длина</th><td>{{ product.length }}</td></tr>{% endif %}
    {% if product.middle_section_length %}<tr><th class="text-right">Длина торцевых секций</th><td>{{ product.middle_section_length }}</td></tr>{% endif %}
    {% if product.front_section_length %}<tr><th class="text-right">Длина вставки</th><td>{{ product.front_section_length }}</td></tr>{% endif %}
    {% if product.pipe_step %}<tr><th class="text-right">Расстояние (шаг) между дугами</th><td>{{ product.pipe_step }}</td></tr>{% endif %}
    {% if product.width %}<tr><th class="text-right">Ширина</th><td>{{ product.width }}</td></tr>{% endif %}
    {% if product.height %}<tr><th class="text-right">Высота</th><td>{{ product.height }}</td></tr>{% endif %}
    {% if product.weight %}<tr><th class="text-right">Вес</th><td>{{ product.weight }}</td></tr>{% endif %}
</table>
{% endblock %}

