{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block extra_css %}
    <!-- slider.css -->
    <link href="{% static 'css/ion.rangeSlider.css' %}" rel="stylesheet">
    <link href="{% static 'css/ion.rangeSlider.skinModern.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
    <script type='text/javascript'>
        $(function() {
            $('.item').matchHeight({
                byRow: true,
                property: 'height',
                target: null,
                remove: false
            });
        });

        $('[data-toggle="tooltip"]').tooltip();
    </script>
    <!-- Slider -->
    <script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
    <script type='text/javascript'>
        $("#slider_price").ionRangeSlider({
            type: "double",
            grid: true,
            min: 2000000,
            max: 9200000,
            from: 2000000,
            to: 9200000,
            step: 100000,
            postfix: " руб"
        });
        $("#slider_length").ionRangeSlider({
            type: "double",
            grid: true,
            min: 2,
            max: 12,
            from: 2,
            to: 12,
            step: 1,
            postfix: " м"
        });
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная страница</a></li>
        {% if not model %}
            <li class="active">Каталог товаров</li>
        {% else %}
            <li><a href="{% url 'list' %}">Каталог товаров</a></li>
            {% if not filter_value %}
                <li class="active">{{ products.0.product_type }}</li>
            {% else %}
                <li><a href="{% url 'product_list' products.0.product_type.model %}">{{ products.0.product_type }}</a></li>
                {# <li><a href="{% url 'product_list' model%}">{{ filter_value }}</a></li> #}
                <li class="active"> Фильтр: {{ filter_value }}</li>
            {% endif %}
        {% endif %}
    </ol>
    <div class="col-sm-3">
        <div class="sidebar-module sidebar-offcanvas">
            <div class="list-group">
                <a href="{% url 'list' %}" class="list-group-item {% if not model %}active{% endif %}">Все товары</a>
                <a href="{% url 'product_list' 'scooter' %}" class="list-group-item {% if model == "scooter" %}active{% endif %}">Самокаты</a>
                {% comment %}<a href="{% url 'product_list' 'polycarbonate' %}" class="list-group-item {% if model == "polycarbonate" %}active{% endif %}">Поликарбонат для теплиц</a> {% endcomment %}
                <a href="{% url 'product_list' 'greenhouse'%}" class="list-group-item {% if model == "greenhouse" %}active{% endif %}">Теплицы и парники</a>

            </div>
        </div>
    </div>
    <div class="col-sm-9 padding_side_zero">
        {%  for obj in products %}
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="item">
                    {% if obj.is_discount %}<img style="position: absolute; right: -10px; top: 50px; z-index: 100;" src="{% static 'img/sale4.png' %}">{% endif %}
                    <a class="text-center" href="{{ obj.get_absolute_url }}"><h4>{{ obj.name }}</h4></a>
                    <img class="img-responsive img-rounded" src="{{ obj.images.all.0.image.url }}" alt="Generic placeholder image">
                    <div class="caption">
                        <p>{{ obj.short_desc|safe }}</p>
                    </div>
                </div>
                <div class="caption">
                    <p>Цена:
                    {% if obj.is_discount %}
                        {% if obj.prev_price %}
                            <del class="prev_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ obj.get_discount_size|floatformat:"0"|intcomma }} руб.">{{ obj.prev_price|floatformat:"0"|intcomma }}</del>
                            <span class="new_price_color green-tooltip" data-toggle="tooltip" data-placement="top" title="Вы экономите {{ obj.get_discount_size|floatformat:"0"|intcomma }} руб.">
                        {% else %}
                            <span class="new_price_color">
                        {% endif %}
                    {% else %}
                        <span class="price_color">
                    {% endif %}
                    {{ obj.price|floatformat:"0"|intcomma }}</span> руб.</p>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 padding4left"><a href="{{ obj.get_order_url }}" class="btn btn-sm btn-success btn-block btn-outline" role="button">Заказать</a></div>
                        <div class="col-xs-6 padding4right"><a href="{{ obj.get_absolute_url }}" class="btn btn-sm btn-info btn-block btn-outline" role="button">Подробнее</a></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <nav>
            <ul class="pagination">
            {% if products.has_previous %}
                <li>
                    <a href="?page={{ products.previous_page_number }}" aria-label="&laquo; Предыдущая">
                        <span aria-hidden="true">&laquo; Предыдущая</span>
                    </a>
                </li>
            {% endif %}
            {% ifnotequal products.paginator.num_pages 1 %}
                {%  for page in products.paginator.page_range %}
                    {% ifequal page products.number %}
                        <li class="active"><a href="#">{{ page }}<span class="sr-only">{{ page }}</span></a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endifequal %}
                {% endfor %}
            {% endifnotequal %}
            {% if products.has_next %}
                <li>
                    <a href="?page={{ products.next_page_number }}" aria-label="Следующая &raquo;">
                        <span aria-hidden="true">Следующая &raquo;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% comment %}
    <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
{% endcomment %}

{% endblock %}