{% extends "base_product.html" %}

{% block product_characteristic %}
{{ block.super }}
<table class="table table-condensed table-striped">
    <colgroup><col class=col-xs-2><col class=col-xs-6></colgroup>

    <tr><th class="text-center" colspan="2">Основные</th></tr>
    <tr><th class="text-right">Структура</th><td>{{ product.structure }}</td></tr>
    <tr><th class="text-right">Цвет</th><td>{{ product.color }}</td></tr>

    <tr><th class="text-center" colspan="2">Размеры</th></tr>
    {% if product.thickness %}<tr><th class="text-right">Толщина</th><td>{{ product.thickness }}</td></tr>{% endif %}
    {% if product.width %}<tr><th class="text-right">Ширина</th><td>{{ product.width }}</td></tr>{% endif %}
    {% if product.length %}<tr><th class="text-right">Длина</th><td>{{ product.length }}</td></tr>{% endif %}

</table>
{% endblock %}
